h1
{

  width: 100%;
  border-bottom: 3px solid #466365;
  padding-bottom: 0.5rem;
}

form
{
    border-bottom: 3px solid #466365;
    padding-bottom: 2rem;
}

.profile-card
{
    border-bottom: 3px solid #466365;
    padding-bottom: 2rem;
    box-shadow: 0px 1px;
}