.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

form
{
  background-color: white;        
  color: #466365;                    
  box-shadow: 15px 8px 20px rgba(251, 255, 26, 0.5); 
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.w-full {
    
    width: 100%;
}


.signUp
{
    font-weight: bold;
    color: blue
}