.exercise-item
{
    border: 3px solid black;
    border-radius: 0.5rem;
}

.title
{
    font-weight: bold;
}

.exercise-item:hover
{
    transition-duration: 0.2s;
    border: 3px solid rgb(0, 76, 163);
    font-size: 1.2rem;
    text-shadow: 1px 1px 0,5px  rgb(0, 76, 163);
}

.exercise-list
{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}