.list {
    display: flex;
    flex-direction: row;
      flex-wrap: wrap;  
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem;
}


html, body
{
  background-color: #FFCC00;
}

.e_w {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #466365;
    padding: 1rem;
    color:#FFCC00;
    font-size: 1.3rem;
    text-shadow: 0px 2px 1px black;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.e_w:hover {
    transform: translateY(-5px);
}

img {
    border-radius: 1rem;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

